# Dane i pliki pomocnicze nie powinny być pobierane przez przeglądarkę.
<FilesMatch "^(lib\.php|config\.php|defaults\.json)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
Options -Indexes
